confluent-kafka==2.10.0
fastavro==1.10.0
attrs==25.3.0
authlib==1.6.0
x35-settings==1.3.0
x35-errors==0.1.4
x35-json-logging==0.1.6
file:///Users/shrumac/Documents/X35/x35-observability/dist/x35_observability-0.1.1-py3-none-any.whl
